@import '~bootstrap/scss/bootstrap-reboot.scss';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/type';

// @import 'slick-theme.scss';

ul.slick-dots {
    display: flex;
    justify-content: center;
    padding: 15px;;
    li {
        width: 16px;
        height: 6px;
        border-radius: 50px;
        background-color: #d2d2d2;
        list-style: none;
        margin: 3px 5px;
        cursor: pointer;
        &.slick-active {
            background-color: #aaa;
        }
        button {
            display: none;
        }
    }
}


// area-slider


.address-slider {
    background-color: #f3f3f3;
    margin: auto;
    @at-root .address-section{
        display: flex;
        align-items: center;
        padding-left: 44px;
    }

    @at-root.slider-section, .map-section {
        display: none;
        height: 464px;
    }
    @at-root.slider-section {
        &--active {
            display: block;
        }
    }

    @at-root.map-section {
        &--active {
            display: block;
        }
    }
}
.address {
    padding-left: 40px;

    &__title {
        margin-bottom: 1rem;
    }
    &__line {
        margin-bottom: .5rem;
    }
    &__btn {
        display: flex;
        align-items: center;
        .arrow-icon {
            width: 12px;
            height: 12px;
            margin-left: 3px;
        }

    }
}

.image-slider {
    position: relative;
    &__slides {
        z-index: 10;
    }
    &__arrow {
        width: 50px;
        height: 50px;
        margin-top: -25px;
        background: red;
        position: absolute;
        top: 50%;
        cursor: pointer;
        user-select: none;
        color:#666;
        background-color: #f2f2f2;
        opacity: .6;
        padding: 12px;
        border-radius: 4px;
        z-index: 20;
        &--next {
            right: 16px;
        }
        &--prev {
            left: 16px;
        }
    }

}


.store-title {
    text-align: center;
    padding: 30px;

}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .container-md {
        padding-left: 0;
        padding-right: 0;
    }
    .map-section {
        height: 220px !important;
    }
    .slider-section {
        display: block !important;
        height: 320px !important;
    }
    .address-slider {
        &__left {
            justify-content: center;
            text-align: center;
        }
    }
    .address-section {
        padding-bottom: 0 !important;
    }
    .address {
        padding-bottom: 0;
        text-align: left !important;

        &__title {
            padding-left: 30px;
        } 
        &__line {
            padding-left: 30px !important;
        }
        &__btn {
            margin-top: 10px;
            display: flex;
            width: 100%;
            padding: 16px 30px;
            margin-top: 18px;
            border-top: 1px solid #e2e2e2;
            justify-content: space-between !important;
            cursor: pointer;
            &:hover {
                text-decoration: none;
            }
            a {
                color: #444;
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .map-section, .slider-section {
        height: 400px;
    }
    .address-section {
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .address {
        padding-left: 0;
        width: 100%;
        padding-bottom: 0;
        text-align: center;
        &__title {
            margin-bottom: 1rem;
            font-size: 1.6em;
        }
        &__line {
            margin-bottom: .25rem;
        }
        &__btn {
            margin-top: 10px;
            width: 100%;
            justify-content: center;
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}